body{
    margin: 100px;
    padding:0;
    height: 100vh;
    justify-content: center;
    display: flex;
    background-color: #DBF9FC;
}
.btn{
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: rgb(127, 144, 255);
    width: 160px;
    margin-right: 10px;
    padding: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
    

}


.btn:hover,.btn:focus,.btn:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}